.container{
    text-align: center;
    margin-top: 25px;
}
table{
    margin: auto;
    
}
input{
    font-size: 34px;
    width: auto;
    border: 2px solid black;
    border-radius: 20px;
}
button{
    font-size: 25px;
    border-radius: 20px;
    background-color: White;
    color: black;
    width: 104px;
    height: 58px;
    padding: auto;
}
.calculator{
    display: inline-block;
    background-color: rgb(143, 193, 234);
    padding: 10px;
    border-radius: 15px;
}
